<html>
  <head>
    <title>Bike Pump Finder</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="style-sb.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <d class="grid-container">
      <header>
        Bike Pump Finder
        <form id="search" action="search.html">
          <input name="search" placeholder="Search...">
          <button><i class="fa fa-search" class="w3-button"></i></button>
        </form>
      </header>
      <nav>
        <button class="w3-block w3-blue w3-border w3-border-white"
        onclick="location.href='bikepumps.html'">Find bike pumps</button>
        <button class="w3-block w3-blue w3-border w3-border-white">Map</button>
      </nav>
      <main>
        <div class="w3-bar w3-green">
          <button onclick="location.href='typetable.html?type=Bike Tool Station';" class="w3-bar-item w3-button w3-ripple">Bike Tool Station</button>
          <button onclick="location.href='typetable.html?type=On street bike pump';" class="w3-bar-item w3-button w3-ripple">On street bike pump</button>
          <button onclick="location.href='typetable.html?type=Bike Pump %26 Tool Station';" class="w3-bar-item w3-button w3-ripple">Bike Pump & Tool Station</button>
        </div>
        <table>
          <tr>
            <th>NAME</th>
            <th>TYPE</th>
            <th>MAINTAINED</th>
          </tr>
          <% for (var i=0; i<rows.length; i++) { %>
          <tr>
            <td><%= rows[i].NAME %></td>
            <td><%= rows[i].TYPE %></td>
            <td><%= rows[i].MAINTAINED %></td>
          </tr>
          <% } %>
        </table>
      </main>
    </div>
  </body>
</html>